html {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background: radial-gradient(
      circle,
      rgba(102, 230, 138, 1) 0%,
      rgba(14, 126, 27, 1) 100%
    );
  }
  h1, h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: honeydew;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    z-index: 10;
    position: relative;
  }
  
  #top {
    background: radial-gradient(
      circle,
      rgba(102, 184, 230, 1) 0%,
      rgba(14, 75, 126, 1) 100%
    );
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: fixed;
    transition: 0.1s;
    box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    z-index: 1;
  }
  
  #context-menu {
    display: flex;
    flex-direction: column;
    background-color: #e4e4e4;
    border: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 5px 7px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  
  #context-menu.hide {
    display: none;
  }
  
  #context-menu > * {
    padding: 0.75rem;
    margin: 0;
  }
  #context-menu > h5 {
    border-bottom: 1px solid #ccc;
  }
  #context-menu > a {
    text-decoration: none;
    color: #333;
  }
  
  #context-menu > a:hover {
    color: #fff;
    background: #429ef3;
  }

  /* Rüzgar Efekti */

#top.windEffect {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(209, 28, 170, 0.3);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 100%);
    border-radius: 50%;
    z-index: -2;
    transition: transform 0.50s, opacity 1;
}

#top.windEffect::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 72, 0, 0.2);
  border-radius: 50%;
  animation: windEffectAnimation 0.5s infinite alternate;
}

@keyframes windEffectAnimation {
  0% {
    transform: scale(1) translateX(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.5) translateX(50px);
    opacity: 0;
  }
}

#border {
  height: 100vh; 
  max-height: 600px;
  position: relative;
  border: 20px solid #1a1a1a;
  border-radius: 15px;
  background-color: #088A29;
  z-index: -10;
}

/* Second Top CSS */
#secondTop {
  background: radial-gradient(circle, rgb(100, 118, 200) 0%, rgba(10,50,120,1) 100%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: fixed;
  transition: 0.1s;
  box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 1;
}

/* Second Top CSS */
#thirdTop {
  background: radial-gradient(circle, rgb(221, 23, 23) 0%, rgba(10,50,120,1) 100%);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: fixed;
  transition: 0.1s;
  box-shadow: 0 10px 5px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 1;
}


  